flask==1.1.0
flask_socketio==4.3.2
flask_cors==3.0.9
wifi
flask_restful==0.3.8
pyserial==3.4
adafruit-circuitpython-adxl34x==1.11.2
adafruit-blinka==5.0.1
pynmea2==1.15.0
termcolor==1.1.0
SQLAlchemy<1.4
Flask-SQLAlchemy==2.1.0
flask_marshmallow==0.13.0
rpi-backlight==2.2.0
obd==0.7.1
#rpi_ws281x
#adafruit-circuitpython-neopixel
#adafruit-blinka
colour==0.1.5
# git+git://github.com/dailab/python-OBD-wifi
eventlet==0.30.0
gevent==20.12.0
marshmallow-sqlalchemy==0.25.0
smbus==1.1.post2
FaBo9Axis-MPU9250==1.0.0