$font-family-base: "Montserrat";
$color-macal:  #E4610C;
$color-macal-transparent:  #E4610C60;
$color-macal-var: #E74327;
$color-grey: #707070;
@import 'fonts.scss';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@font-face{
    font-family: "digital-clock-font";
    src: url('/digital-clock.ttf')
}
html, body {
	background-color: #303030;
}
div,table,tr,td, th,h1,h2,h3, h4, h5, p,button, a, li, button:focus, .btn:focus, .btn.focus, .form-control:focus{
	outline:none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
b{
	font-weight: bold;
}
.custom-select:focus, .form-control:focus {
    border-color: #ced4da;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pointer{
	cursor: pointer;
}
#landing-page {
    background-color: #000000;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
.clock-font{
    font-family: "digital-clock-font";
}