@font-face {
	font-family: 'Roboto';
	src: font-url('/assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto';
	src: font-url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Roboto';
	src: font-url('/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'Roboto';
	src: font-url('/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	src: font-url('/assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: 'Roboto';
	src: font-url('/assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
	font-weight: bold;
}
html, body{
	font-family: 'Roboto', Helvetica, sans-serif !important;
	font-weight: 400;
}
.text-bold, b{
	font-family: 'Roboto', Helvetica, sans-serif !important;
	font-weight: bold;
}